@import '../../_sass/_breakpoints.sass'
@import '../../_sass/_constants.sass'

.to-top-btn
  background-color: $primary
  opacity: 0.6
  position: fixed
  right: 1rem
  bottom: 1rem
  z-index: 12

.to-top-btn--hidden
  display: none
