@import './_sass/_constants.sass'

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  font-size: 16px
  color: $black
  max-width: 2400px
  font-family: 'Roboto', sans-serif

.background_orange
  background-image: linear-gradient(-211deg, #FAB989 0%, #F48534 37%, #DF7B3D 62%, #CA7246 100%)

.section
  display: flex
  flex-direction: column
  align-items: center
