@import './_sass/_constants.sass'

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  font-size: 16px
  color: $black
  max-width: 2400px
  font-family: 'Roboto', sans-serif

.background_orange
  background: linear-gradient(45deg, #d17543 0%,#df7b3d 36%,#f48534 60%,#f79c59 100%);

.background_white
  background-color: #fff
