@import '../../_sass/_breakpoints.sass'

.speakers
  width: 100%

.speakers__grid
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 2.618rem
  width: 100%
  transform: translateY(-50px)
  opacity: 0.1

.speakers__grid--mount
  transform: translateY(0)
  opacity: 1
  transition: 1s

+for-tablet-portrait-up
  .speakers__grid
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

+for-desktop-up
  .speakers__grid
    width: 75%
